.btn {
  margin: 2%;
  width: 180px;
}

.row {
  text-align: right;
}

.row2 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}


@media screen and (max-width: 768px) {
    .row {
      text-align: center;
    }

    #logo {
      float: left;
    }
}


.mans {
  background-color: #FFA240;
  margin: 2%;
  border-radius: 25px;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
