/* Header */ 
/* Border from Y to X  */

#logo,#menu{
	width: 40px;
}
#logoLogin {
	width: 50%;
	padding:10%;
}
#imgTop {
	width:100%;
}
#lgout, #shop, .btnWithout {
	background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}
#lgout{
    padding-top: 1%! important;
	padding-bottom: 1%! important;
}
.btnWithout {
	padding: 5% 0 !important;
	width:100%;
}
#divHead {
	background-color: #FFA240;
}
#shop {
	margin-top: 1%;
	font-size: 20px;
}
#bell {
	margin-top: 30%;
}
#shop {
	margin-left: 0% !important;
	margin-top: 1% !important;
	display:none;
}
a.black {
	color: black !important;
}
#userMainPht {
	display:none;
}
.marg {
margin-top: 1% !important;
}
.padLeft{
	margin-left: 0% !important;
}
.padLeftPhoto{
	margin-left: 0% !important;
}
#bellBtn {
	margin-left: 1%;
}
#menu {
	margin: -12px -10px -10px -10px;
}
#logo {
	margin: -6px -10px 0 0;
}

#menuPhone {
	margin: -5px -10px -5px -10px;
	float: left;
}

#signUp a, #signIn a{
	font-size:80%;
}
#headerContainer {
	background-color:#FFA240;
}


#user_name {
	display:none;
}
#myNavbar {
	width:100%;
	float:left;
}
#navHead {
	width: 70%;
	float:left;
}
#cog {
	border:none;
	padding:0;
	background-color:transparent;
	float:left;
}



#notificationSpace {
	float:left;
}
#headerContainer {
	margin-bottom:0%;
}
#divHead {
	margin-bottom:0%;
}
/* Footer */ 
#ftb {
	font-size:100%;
	background-color: #2d2f33;
    padding-bottom: 25px;

}
.footerP {
	color: white;
}
#footerUpr {
	
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-bottom: 2%;
}

#iconsSocials {
	padding-left: 42%;
	padding-bottom: 3%
}

#facebook{
	min-width: 30px;
	width: 5%;
	float:left;
}

#instagram {
	min-width: 30px;
	display: block;
	width: 5%;
	margin: 0 40% 0 20%;
}

/* Body */ 
.content {position:relative;margin:20px auto;
background:rgba(255,255,255,0.65);font-size:15px;
  padding:5%;text-align:center;
  box-sizing:border-box;
  max-width: 80%;
}

.grow { transition: color .2s ease-in-out; 
transition-timing-function: cubic-bezier(0,0,1,1);
 -webkit-transform: scale(2.85)!important;
  -moz-transform: scale(2.85) !important;}

#minusMargin {
	margin-left: 0%;
}

#overlay{
  cursor: pointer;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:#000;
  opacity:.7;
  z-index:2000;
  display:none;
}

.photo{
  position:relative;
  float:left;
  height:100px;
  width:100px;
  background:#fff;
  border:1px solid #999;
  margin:20px;
}

.photo-image{
  cursor: pointer;
  position:relative;
  top:9px;
  left:9px;
  width:80px;
  border:1px solid #999;  
  z-index:1000;
  opacity:0.6;
  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
}

.photo-image:hover{
  -webkit-transform: scale(1.85);
  -moz-transform: scale(1.85);
  width:200px;
  top:-50px;
  left:-50px;
  z-index:1001;
  opacity:1;
}

.photo-selected{
  cursor:default;
  z-index:2001;
  width:500px;
  opacity:1;
  top:-20px;
  left:-200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Nov 11 2013 - Added "X" to close popup - just a visual cue */
/*.photo-x:after{
  content: "X";
  font-family: arial;
  position: relative;
  top: -535px;
  font-weight: bold;
  left: 285px;
  padding: 10px 14px;
  border: 2px solid black;
  background: white;
  z-index: 9999;
  cursor: pointer;
}*/

.photo-selected:hover{
  width:500px;
  top:-50px;
  left:-50px;
  z-index:2001;
  opacity:1;
  top:-20px;
  left:-200px;
}


#shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 30px #888888;
}
.shad {
	margin-left:2% !important;
}

#revCont {
	margin-bottom: 4%;
}

#shadowRev {

    border: 1px solid;
}


.subt {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  color: #2b2b2b;
  text-align: left
}



.frame:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  position: relative;
  z-index: 5;
}

#itmPhotos {
	margin-top:5%;
	background-image: url('../res/freshPancake3.jpg');
}
#loginPhoto {
	margin-top:0%;
	background-image: url('../res/bkgL.jpg');

}


.homeInfos {
  margin: 0;
  font-family: Pacifico;
  font-size: 2.1em;
  font-weight: 300;
  color: #2b2b2b;
  text-align: left;
}

#bodyBack {
	background-image: url('../res/bkg.jpg');

}
#bodyDiv {
	padding-left:0;
	padding-right:0;
	background-color:white;
}

#bodyContent{
	padding-left: 2%;
	padding-right: 2%;
}
/*Review */
#s1, #s2, #s3, #s4{
	float: left;
}


#star1, #star2, #star3, #star4, #star5{
	border:0;
	background-color:transparent;
}

#stars {
	display:none;
}

textarea {
   resize: none;
}

/* registration */
#loginForm {
	margin: 10%;
}

#loginInsert {
	background-color:lightgrey;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 1;
}
#innerCont {
	margin-bottom: 7%;
}
/* listino */
p#prz {
  display: block;
  margin-left: 95%;
  margin-bottom: -5%;
  z-index:1000;
  width: 30px;
  background: #232323;  
  position: relative;

  
  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 2px 4px;
  text-align: center;
}

p#przL {
  display: block;
  margin-left: 96%;
  margin-top: -2%;
  z-index:1000;
  width: 40px;
  background: #FFB100;  
  position: relative;

  
  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 4px 4px;
  text-align: center;

}
.select {
	text-align:right !important;
	background-color:#FFBB73;
	padding: 2% 1%;
	margin-bottom: 5%;
	text-align-last:center;
}

#itmListino {
	border: 1px solid black;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px; 
	background-image: url('../res/wood.jpg');
}
#infListino {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom-left-radius: 4px; 
	border-bottom-right-radius: 4px; 
	background-image: url('../res/paper.jpg');
}
.listinoInf{
	text-align: center;
	padding-top:2%;
	padding-bottom:3%;
	font-size:30px;
}

.listChange {
	margin-top: 3%;
}
#bannerTop {
	width:100%;
}
#fork {
	display:none;
}
#spaceDiv {
	margin-top:2%;
}
.button-clk{
	width:100% !important;
  cursor: pointer;
  font-size:18px;
  margin-left: 0%;
}
.button-clk{
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 13px;
	margin-bottom: 2%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-clk:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}
.button-clk:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-clk:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.grey {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes bigger {
    from {top: 0px;}
    to {top: 270%; display:none;}
}


/* userInformation */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#showUsername, #showTelephone, #modifyPassword, #modifyUsername, #modifyTelephone {
	display:none;
}

#userPhoto{
	width: 10%;
}


#totPrice {
	font-size:18px;
}










@media only screen and (min-width: 768px) {
	#userMainPht {
	display:block;
}
.hideDesk {
	display:none !important;
}
	#shop {
	display:block;
	margin-left: 600% !important;
	margin-top: 16% !important;
}
.marg {
margin-top: 30% !important;
}
.padLeft{
	margin-left: 720% !important;
}
.padLeftPhoto{
	margin-left: 270% !important;
}
	.shad {
	margin-left:0% !important;
}

	#minusMargin {
	margin-left: -20%;
}
	p#przL {

  margin-top: -4%;
}
	.listinoInf{
	font-size:40px;
}
	#spaceDiv {
	margin-left:-6%;
}
.button-clk{
	margin-left: -15%;
	width:130% !important;
}
	#lgout {
	background: none !important;
    border: none;
    padding: 0! important;
	padding-top: 32% ! important;
    cursor: pointer;
}
	/* Header */ 
	.headerOpt {
	border: 1px solid black;
	margin-right:1%;
	background-color:#FFBB73;
}

#bell {
	margin-right: 30%;
}

#bellBtn {
	margin-left: 0%;
}

	#logo {
		margin-left: -10%;
	}
	#shop {
	font-size: 30px;
	margin-top:1%;

}
	
	#menu {
		background-color:purple;
		min-width:0;
		width:0;
	}
	#user_name {
		display: block;
		font-size: 16px;
	}
	#userMainPht {
		font-size: 16px;
	}

	#menuPhone {
		display:none;
	}
	
	#myNavbar {
		width:80%;
	}
	
	#navHead {
		width: 8%;
		float:left;
	}

	/* Footer */ 
	#iconsSocials {
		padding-left: 5%;
		padding-bottom: 0%
	}
	#facebook {
		margin-right: 10%;
	}
	#studente, #recensione {
		padding-left: 0;
		padding-right: 0;
	}
	/* userInformation */
	#userPhoto{
		margin: 10% 0;
		width: 30%;
	}
	
	#showEmail, #showUsername, #showTelephone, #modifyEmail, #modifyPassword, #modifyUsername, #modifyTelephone {
		display:block;
	}
	#usernameDiv, #popupPassword, #telephoneDiv {
		display:none;
	}
	
	#fork {
		margin-left: -10%;
		display:block;
	margin-top: 2%;
	margin-bottom: 5%;
	font-size:58px;
}


}

@media only screen and (min-width: 1024px) {
	
	#menuDesktopButtons {
		font-size: 180%;
	}
}
  
  
  
  
fieldset {
	border: 1px solid black;
	background-color:#c6d8f4;
	margin-left: 20%;
	margin-right: 20%;
	border-radius:4px;
	padding: 1% 0 2% 0;
}	
	
legend {
	width: 45%; 
	border: 1px solid black;
	border-radius: 4px; 
	background-color: #ffffff;
}